<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planets App</title>
  </head>
  <body>
    <h1>Welcome to the Planets App!</h1>
    <p>An app for documenting planets in our galaxy.</p>

    <!-- Add this link: -->
    <a href="/planets">View All Planets</a>
  </body>
</html>
