<h1>Add a New Planet</h1>
<form action="/planets" method="POST">
  <label>Name: <input type="text" name="name" required></label><br>
  <label>Distance from Sun (million km): <input type="number" name="distanceFromSun"></label><br>
  <label>Has Life? <input type="checkbox" name="hasLife"></label><br>
  <label>Image URL: <input type="text" name="image"></label><br>
  <button type="submit">Create Planet</button>
</form>
<a href="/planets">Back to all planets</a>
<br>
<a href="/">Back to home page</a>